body {
    background-color: #f0fdf4; /* Verde bem clarinho de fundo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 15px; /* Bordas arredondadas do protótipo */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo {
    color: #22c55e; /* Verde principal da Clínica */
    margin-bottom: 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #374151;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #22c55e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #16a34a;
}

.footer-links {
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #22c55e;
    text-decoration: none;
}